<p id="notice"><%= notice %></p>

<div class="jumbotron">
    <div  class="qrcode">   
        <%= show_svg(@path_to) %>
        <br/>
        <%= link_to "Download QR Code (.svg)", '/download_pdf/'+@identity.uuid , :class => "btn btn-outline-success" %>
        <br/>
    </div>
    <p>
        <strong>Namee:</strong>
        <%= @identity.name %>
    </p>
    <p>
        <strong>Age:</strong>
        <%= @identity.age%>
    </p>
    <p>
        <strong>Gender:</strong>
        <%= @identity.gender %>
    </p>
    <p>
        <strong>Phone number:</strong>
        <%= @identity.phone_number %>
    </p>

    <hr class="my-4">
    <p>
        <strong>Additional info:</strong>
        <%= @identity.additional_info %>
    </p>
    <%= link_to 'Back', root_path, :class => "btn btn-primary" %>
    <%= link_to 'Edit', '/identities/'+ @identity.uuid + '/edit' , :class => "btn btn-outline-primary" %>
</div>